<div class="banner">
  <div class="welcome">
    <p>Eliot Nemoz, welcome to my page.</p>
  </div>
</div>

<h2 class="intertitre">About me</h2>

<div class="about">

  <div class="bio">
    <h2>Bio</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi atque ratione nesciunt, excepturi dicta veritatis quos suscipit perspiciatis totam eius harum ipsam cupiditate iure blanditiis corrupti, adipisci odio hic unde!</p>
  </div>

    <%= image_tag 'Eliot.jpg'%>
</div>

<h2 class="intertitre">Work experience</h2>

<div class="experiences">

 <div class="work">
    <h2>Work experience</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi atque ratione nesciunt, excepturi dicta veritatis quos suscipit perspiciatis totam eius harum ipsam cupiditate iure blanditiis corrupti, adipisci odio hic unde!</p>
  </div>
  <div class="work2">
    <h2>Education</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi atque ratione nesciunt, excepturi dicta veritatis quos suscipit perspiciatis totam eius harum ipsam cupiditate iure blanditiis corrupti, adipisci odio hic unde!</p>
  </div>
</div>

<h2 class="intertitre">Education</h2>

<div class="education">

  <div class="a">
    <div class="wagon">
      <h4>Le Wagon</h4>
      <%= image_tag 'lewagon.png'%>
    </div>

    <div class="aix">
      <h4>IAE Aix</h4>
      <%= image_tag 'aix.jpg'%>
    </div>
  </div>

  <div class="b">
    <div class="lyon">
      <h4>IAE Lyon</h4>
    </div>

    <div class="china">
      <h4>China</h4>
      <%= image_tag 'xiamen.png'%>
    </div>
  </div>

</div>




<!-- <div class="projects" id="projects">

 <div class="projetca">
    <h2>Project</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi atque ratione nesciunt, excepturi dicta veritatis quos suscipit perspiciatis totam eius harum ipsam cupiditate iure blanditiis corrupti, adipisci odio hic unde!</p>
  </div>
</div> -->

