<div class="banner">
  <div class="welcome">
    <p>Welcome to my page.</p>
  </div>
</div>

<h2 class="intertitre">About me</h2>

<div class="about">
  <div class="bio">
    <h2>Bio</h2>
    <p class="me">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi atque ratione nesciunt, excepturi dicta veritatis quos suscipit perspiciatis totam eius harum ipsam cupiditate iure blanditiis corrupti, adipisci odio hic unde</p>
  </div>

</div>

<h2 class="intertitre">Work experience</h2>

<div class="experiences">


  </div>
</div>

<h2 class="intertitre">Education</h2>

<div class="education">

  <div class="a">
    <div class="wagon">
    </div>

    <div class="aix">
    </div>
  </div>

  <div class="b">
    <div class="lyon">
    </div>

    <div class="china">
    </div>
  </div>

</div>




<!-- <div class="projects" id="projects">

 <div class="projetca">
    <h2>Project</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi atque ratione nesciunt, excepturi dicta veritatis quos suscipit perspiciatis totam eius harum ipsam cupiditate iure blanditiis corrupti, adipisci odio hic unde!</p>
  </div>
</div> -->

