<div class="about animated infinite bounce">

  <%= image_tag 'Eliot.jpg'%>

  <div class="bio">
    <h2>Bio</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi atque ratione nesciunt, excepturi dicta veritatis quos suscipit perspiciatis totam eius harum ipsam cupiditate iure blanditiis corrupti, adipisci odio hic unde!</p>
  </div>

</div>
