<div class="back">

  <div class="decoration">
  </div>

  <div class="content-project">

    <div class="project-card">

    <div class="project-description">

    </div>
    <div class="proto">
      <%= image_tag 'office.jpg'%>
    </div>

    </div>

  </div>

</div>
