<div class="back">

  <div class="decoration">
  </div>

  <div class="content-project">

    <div class="project-card">

    <div class="project-description">
      <h2 class="text-center">Titre du projet</h2>
      <p>Desktop / mobile app</p>
      <p>Descritpion</p>
      <p>Technology</p>
      <p>Online / offline</p>

    </div>
    <div class="proto">

    </div>

    </div>

  </div>

</div>
