.about {
  display: flex;
  justify-content: space-between;
  // margin-top: 10px;
  height: 100%;
  // border-radius: 3px;
  img {
  width: 25%;
  padding: 1px;
  // margin-right: 20px;
  // border-radius: 2px;
  border-top: solid thin;
  border-bottom: solid thin;
}
}



.bio {
  background-color: white;
  border-top: solid thin;
  border-bottom: solid thin;
  border-left: solid thin;
  align-items: center;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // border-radius: 2px;
  flex-grow: 1;
  padding: 15px;
  h2 {
    text-align: center;
    // border-top: solid thin;

  }
  p {
    // border-bottom: solid thin;
  }
}




