.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border: solid thin;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
}



.contactme {
  flex-grow: 1;
  padding: 15px;
  h2 {
    text-align: center;
  }
}

