.navbar-lewagon {
  justify-content: center;

  background: blue;
  padding: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-item.active {
  // border-bottom: solid;
  border-top: solid thin;
}

.nav-item:hover {
  // border-bottom: solid;
  border-top: solid thin;
}
// .nav-item.active {
//   border-right: solid;
//   border-left: solid;
// }

