.navbar-lewagon {
  justify-content: center;
  background: white;
  padding: 0px;
  margin-right: 20px;
  margin-left: 20px;
  border-left: solid thin;
  border-right: solid thin;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-item.active {
  // border-bottom: solid;
  border-top: solid thin;
}

.nav-item:hover {
  // border-bottom: solid;
  border-top: solid thin;
}
// .nav-item.active {
//   border-right: solid;
//   border-left: solid;
// }

