.background {
// background-image: url(office.jpg);
// background-size: cover;
// display:table-cell;
// width: auto;
height: 100vh;
background-size: cover !important;
background-repeat: no-repeat !important;
  background-position: 15% 10%;
  overflow: auto;
}



